
#photo {
  max-width: 60%;
  height:  auto;
}

#contenuto {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#map {
  height: 500px;
}

#button{
  width: 256px;
  height: 64px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#textDescription{
  font-size: 18px;
  text-align: center;
  margin-top: 45px;
}