#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contentSeparator {
    display: flex;
    justify-content: flex-start;
}
#navList {
    width: 20%;
    background: #3f51b5;
}

#content {
    width: 80%;
    background: #344283;
}

#realContent {
    width: 80%;
    margin: 15px auto 0;
    padding: 15px 15px 15px 15px;
}

.PBWrapper {
    width: 30%;
}

.donationContent {
    width: 70%;
}

.Wrapper {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 10px 10px 10px 10px;
}