#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rowList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow: hidden;
}

.contentSeparator {
    display: flex;
    justify-content: flex-start;
}
#navList {
    width: 20%;
    background: #e53935;
    padding-bottom: 15px;
}

#content {
    width: 80%;
    background: #ffcdd2;
    padding-bottom: 15px;
}

#realContent {
    width: 90%;
    margin: 15px auto 0;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}

.PBWrapper {
    width: 40%;
}

.donationContent {
    width: 60%;
}

.Wrapper {
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 10px 10px 10px 10px;
}